version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: spawn_db
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: spawn
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: